
// display
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

// position
.absolute {
	position: absolute;

	&.pinned.top.right {
		top: 0;
		right: 0;
	}

	&.pinned-all {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.middle {
	.absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.relative {
	position: relative;
}

.z-index {
	z-index: 1;
}

// Dimensions
.width-full {
	width: 100%;
}

.height-full {
	height: 100%;
}

.padded-small {
	padding: 0 7px;
}

// Animations
.show {
	animation: 1s linear fade-in forwards;
}

.hide {
	animation: 1s fade-out forwards;
}

.fade-in {
	animation: 0.3s fade-in linear forwards;

	&.fade-out {
		animation: 1s fade-out linear forwards;
	}
}

// Fonts
.snow-text {
	color: #fff;
}

.hid {
	opacity: 0;
}

.scroll-styles {
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	
	&::-webkit-scrollbar-track {
		background: #ABABAB;
	}
	
	&::-webkit-scrollbar-thumb {
		background: lightgrey;
		border-radius: 2px;
	}
}
