
* {
	box-sizing: border-box;
}

html,
body,
main {
	width: 100vw;
	height: 100vh;
}

body {
	.relative;
	.width-full;
	margin: 0;
	background-color: @bg;
	font-family: arial;
	font-size: 18px;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar-track {
		background: #ABABAB;
	}
	&::-webkit-scrollbar-thumb {
		background: lightgrey;
		border-radius: 2px;
	}
}

main {
	overflow: hidden;
}

svg.draw-box {
	.absolute;
	top: 0;
	left: 0;
	.width-full;
	.height-full;
}
